


<header style="background-color:pink" class="header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-3 col-lg-2">
                <div class="header__logo">
                    <a href="./index.cshtml">
                        <img src="/ashion-master/img/logo.png">
                        <p style="font-family: Lucida Handwriting"> YOK|ARTIKK</p>  </a>
                </div>
            </div>
            <div class="col-xl-6 col-lg-7">
                <nav style="color:white" class="header__menu">
                    <ul>
                        <li class="active"><a style="font-family : monospace " href="./index.html"> ANASAYFA</a></li>

                        <li><a style="font-family : monospace" href="./shop.html">ALIŞVERİŞ</a></li>
                        <li>
                            <a style="font-family : monospace" href="#">SAYFALAR</a>
                            <ul class="dropdown">
                                <li><a style="font-family : monospace" href="./product-details.html">Ürün Detayı</a></li>
                                <li><a style="font-family : monospace" href="./shop-cart.html">Alışveriş Sepeti</a></li>
                                <li><a style="font-family : monospace" href="./checkout.html">Çıkış Yap</a></li>
                                <li><a style="font-family : monospace" href="./blog-details.html"> Blog Detayı</a></li>
                            </ul>
                        </li>
                        <li><a style="font-family : monospace" href="./blog.html">BLOG</a></li>
                        <li><a style="font-family : monospace" href="./contact.html">İLETİŞİM</a></li>
                    </ul>
                </nav>
            </div>
            <div class="col-lg-3">
                <div class="header__right">
                    <div class="header__right__auth">
                        <a style="font-family : monospace" href="#">Giriş Yap</a>
                        <a style="font-family : monospace" href="#">Kayıt Ol</a>
                    </div>
                    <ul class="header__right__widget">
                        <li><span class="icon_search search-switch"></span></li>
                        <li>
                            <a href="#">
                                <span class="icon_heart_alt"></span>
                                <div class="tip">0</div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="icon_bag_alt"></span>
                                <div class="tip">0</div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="canvas__open">
            <i class="fa fa-bars"></i>
        </div>
    </div>
</header>