
@{
    ViewData["Title"] = "SliderPartial";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<section class="categories">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 p-0">
                <div class="categories__item categories__large__item set-bg"
                     data-setbg="/ashion-master/img/categories/category-1.jpg">
                    <div class="categories__text">
                        <h1 style="font-family:Lucida Handwriting">
                            Kadınların Favorileri
                        </h1>
                        <p style="font-family:'Brush Script MT'">
                            "Stil sahibi kadınlar giysileri giyerler, giysiler onları değil."
                        </p>
                        <a href="#">Satın Al</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 p-0">
                        <div class="categories__item set-bg" data-setbg="/ashion-master/img/categories/category-2.jpg">
                            <div class="categories__text">
                                <h4 style="font-family:Lucida Handwriting">Erkeklerin Favorileri</h4>

                                <a href="#">Satın Al</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 p-0">
                        <div class="categories__item set-bg" data-setbg="/ashion-master/img/categories/category-3.jpg">
                            <div class="categories__text">
                                <h4 style="font-family:Lucida Handwriting">Çocukların Favorileri</h4>

                                <a href="#">Satın Al</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 p-0">
                        <div class="categories__item set-bg" data-setbg="/ashion-master/img/categories/category-4.jpg">
                            <div class="categories__text">
                                <h4 style="font-family:Lucida Handwriting">Aksesuarlar</h4>

                                <a href="#">Satın Al</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 p-0">
                        <div class="categories__item set-bg" data-setbg="/ashion-master/img/categories/category-5.jpg">
                            <div class="categories__text">
                                <h4 style="font-family:Lucida Handwriting">Kozmetik</h4>

                                <a href="#">Satın Al</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
