@model IEnumerable<EntityLayer.Concrete.Category>
 <div class="col-lg-3 col-md-3">
                <div class="shop__sidebar">
                    <div class="sidebar__categories">
                        <div class="section-title">
                            <h4>Kategoriler</h4>
                        </div>
                        <div class="categories__accordion">
                            <div class="accordion" id="accordionExample">
                                <div class="card">
                        @foreach(var item in Model)
                        {
                              <div class="card-heading active">
                                        <a href="/Shop/ProductDetails/@item.CategoryId">@item.Name</a>
                                    </div>
                        }
                                    <div id="collapseOne" class="collapse show" data-parent="#accordionExample">
                                        <div class="card-body">
                                            <ul>
                                                <li><a href="#">Kaban</a></li>
                                                <li><a href="#">Ceket</a></li>
                                                <li><a href="#">Elbise</a></li>
                                                <li><a href="#">Gömlek</a></li>
                                                <li><a href="#">Tişört</a></li>
                                                <li><a href="#">Pantolon</a></li>
                                            </ul>
                                        </div>
                        
                    </div